*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: beige;
  overflow-x: hidden;
}


/*HEADER*/
.header{
  background-color: #2f5d2f;
  color: white;

  display: flex;
  align-items: center;
  padding: 0px 40px;

}

.logo-area img{
  width: 100px;
}

.menu{
  display: flex;
  gap: 30px;
  width: 400px;
  margin-left: 50px;
}

.menu a{
  text-decoration: none;
  color: white;
  font-size: 33px;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: 0.3s;
}

.menu a:hover{
  transform: scale(1.4);
}

.menuh{
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: none;
  font-size: 55px;
  margin-left: 130px;
  margin-top: 25px;

}

.menu-mobile{
  position: fixed;
  right: -100%; /* escondido */
  height: 100vh;
  z-index: 12;
  width: 30%;
  background-color: #2f5d2fdc;
  top: -5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 40px;
  margin-top: 100px;
  transition: 0.3s;
  z-index: 999;

}

.menu-mobile.ativo{
  right: 0; /* aparece */
}

.menu-mobile a{
  font-size: 19px;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.menu-mobile a{
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.menu-mobile-container{
  display: flex;
  justify-content: flex-end;
}

.no-scroll{
  overflow: hidden;
}


/*FIM HEADER*/


/*MAIN*/
.container{
  display: flex;
  margin-left: 14%;
  margin-top: 5%;
  gap: 17%;
}
.esquerda{
  background-color: rgb(255, 255, 255);
  width: 36%;
  height: 500px;
  border-radius: 15px;
}
.esquerda img{
  width: 666px;
  border-radius: 15px;
}
.direita{
  width: 31%;
  height: 500px;
  background-color: #2f5d2f;
  color: white;
  border-radius: 15px;
  box-shadow: -10px 7px 10px rgba(82, 78, 78, 0.692);
}
.direita h1{
  margin-top: 15px;
  display: flex;
  justify-content: center;
  font-family: "Questrial", sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #d4a108;
}
.direita p{
  padding: 15px;
  display: flex;
  justify-content: center;
  font-family: "Questrial", sans-serif;
  margin-left: 5px;
  font-size: 23px;
  padding: 20px;

}
.serv{
  margin-left: 840px;
  margin-top: 60px;
  width: 220px;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-family:"Questrial", sans-serif ;
  cursor: pointer;
  background-color: #b40808;
  color: rgb(255, 255, 255);
  font-size: 27px;
  transition: 0.2s;
  box-shadow: -8px 7px 10px rgba(134, 130, 130, 0.692);
}
.serv:hover{
  transform:scale(1.2);
}
/*footer*/
footer{
  background-color: #2f5d2f;
  margin-top: 127px;
  display: flex;
  height: 100px;
  align-items: center;
  padding: 0px 20px;
  color: white;
}
 
.esquerda-footer{
  display: flex;
  gap: 20px;
 
}
.esquerda-footer img{
  height: 50px;
}

.esquerda-footer h4{
  padding-top: 11px;
  font-family: "Questrial", sans-serif;
  font-size: 25px;
  font-weight: 200;
}
.direita-footer img{
  height: 50px;
  transition: 0.2s;
  cursor: pointer;
}
.direita-footer img:hover{
  transform:scale(1.2);
}
.direita-footer{
  display: flex;
  gap: 20px;
  margin-left: auto;
}
.direita-footer{
  padding: 10px;
}
.direita-footer h4{
  padding-top: 11px;
  font-family: "Questrial", sans-serif;
  font-size: 25px;
  font-weight: 200;
}

@media screen and (max-width: 430px) {
  
  
  
  .container{
    flex-direction: column;
    margin-left: 0px;
    gap: 60px;
    align-items: center;
    margin-top: 50px;
  }
  .esquerda{
    width: 75%;
    height: 220px;
  }
  .esquerda img{
    width: 100%;
    height: auto;
  }
  .direita{
    width: 80%;
    height: 500px;

  }
  .direita h1{
    font-size: 25px;
  }
  .direita p{
    font-size: 19px;
  }

    .esquerda-footer img {
    width: 30px;
    height: 30px;
  }

  .direita-footer img{
    width: 30px;
    height: auto;
  }

  .esquerda-footer h4{
    font-size: 15px;
  }

  .esquerda-footer{
    width: 130px;
    gap: 5px;
    padding-left: 2%;
  }

  .direita-footer h4{
    font-size: 20px;
  }

  .direita-footer{
    gap: 10px;
    width: 130px;
    margin: 0%;
    padding: 0%;
  }

    footer{
    gap: 50px;
    margin-top: 50px;
    width: 100%;
    margin: 0%;
    padding: 0%;
  }
  
  .serv{
    margin: 50px 0px 50px 25% ;
  }

    .menu{
    display: none;
  }

  .menuh{
    display: flex;
  }

  .navh{
    margin: 0px;
    width: 60px;
  }

  .header{
    justify-content: space-between;
    padding-left: 10px;
  }
  
    .logo-area{
    padding: 10px 0px 10px 0px;
  }

}