*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: beige;
}


/*HEADER*/
.header{
  background-color: #2f5d2f;
  color: white;
  
  display: flex;
  align-items: center;
  padding: 0px 40px;

}

.logo-area img{
  width: 100px;
}

.menu{
  display: flex;
  gap: 30px;
  width: 400px;
  margin-left: 50px;
}

.menu a{
  text-decoration: none;
  color: white;
  font-size: 33px;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: 0.3s;
}

.menu a:hover{
  transform: scale(1.4);
}

.menuh{
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: none;
  font-size: 55px;
  margin-top: 25px;
  margin-left: 240px;
}

.menu-mobile{
  position: fixed;
  right: -100%; /* escondido */
  height: 100vh;
  z-index: 12;
  width: 30%;
  background-color: #2f5d2fdc;
  top: -5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 40px;
  margin-top: 100px;
  transition: 0.3s;
  z-index: 999;

}

.menu-mobile.ativo{
  right: 0; /* aparece */
}

.menu-mobile a{
  font-size: 19px;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.menu-mobile a{
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.menu-mobile-container{
  display: flex;
  justify-content: flex-end;
}

.no-scroll{
  overflow: hidden;
}

/*FIM HEADER*/

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    align-items: center;  

    height: 100%  ;
}
h1{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    font-family: "Questrial", sans-serif;
    font-weight: 500;
    font-size: 60px;
    color: rgb(146, 114, 9);
}
h3{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-size: 24px;
}
form{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    margin-top: 100px;
    gap: 20px;
    background-color:#2f5d2f;
    border-radius: 15px;
    height: 70%;
}
form input{
    height: 60px;
    width: 95%;
    background-color: rgba(197, 197, 197, 0.671);
    font-family: "Questrial", sans-serif;
    border-radius: 10px;
  }
input::placeholder {
  color: rgb(0, 0, 0);
  font-family: "Questrial", sans-serif;
  color: rgb(255, 255, 255);
  font-family:"Questrial", sans-serif ;
  font-size: 17px;
  font-weight: 400;
}
nav label{
  font-family: "Questrial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: white;
}
main nav{
  display: flex;
  flex-direction: column;
  padding: 3%;
  padding-left: 6%;
  gap: 10px;
}
input, textarea:focus {
    outline: none;
    border: solid 2px #4f754f;
}

select {
    height: 100px;
    width: 95%;
    border: solid 1px black;
    background-color: rgba(197, 197, 197, 0.671);
    color: black;
    font-family:"Questrial", sans-serif ;
    border: solid 1px rgb(182, 181, 180);
    border-radius: 10px;
}

option{
  color: black;

}
select:focus {
    outline: none;
    border: solid 2px #4f754f;
}

select {
  font-size: 20px;
  padding-left: 2%;
}

input[value=""] {
  padding: 3%;
  font-size: 20px;
}

.ONGs {
    height: 60px;
}
.env {
    width: 82%;
    height: 50px;
    margin-left: 40px;
    background-color: #4f754f;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 17px;
    font-family:"Questrial", sans-serif ;
}
.env:hover {
    background-color: black;
    transform: scale(1.02);
}

textarea{
  background-color: rgba(197, 197, 197, 0.671);
  width: 95%;
  border-radius: 15px;
  padding: 1%;
  border: none;
  color: white;
  font-family: "Questrial", sans-serif;
  font-size: 17px;
  resize: none;
}

@media screen and (max-width: 430px) {
  
  .header{
    justify-content: space-between;
    padding-left: 10px;
  }

  .menu{
    display: none;
  }

  .menuh{
    display: flex;
  }

  .logo-area{
    padding: 10px 0px 10px 0px;
  }

  form{
    width: 90%;
    height: 100%;
    margin-top: 20px;
    padding: 5%;
  }
  
  main h1{
    font-size: 40px;
    width: 100%;
    height: auto;
    margin-left: 0px;
    text-align: center;
  }
  main h3{
    font-size: 18px;
    width: 100%;
    height: auto;
    margin-left: 0px;
    text-align: center;
  }
  
  main nav{
    
    padding: 0px;
    align-items: center;
  }

  section {
    padding: 5% 5% 5% 7%;
  
  }

  label{
    margin-top: 15px;
  }  

  .env{
    width: 100%;
    height: 50px;
    margin-left: 0px;
    font-size: 17px;
  }

  .formulario{
    margin-bottom: 50px;
  }
}